@import url(../libs/bootstrap/bootstrap-grid.min.css);
@import url('https://fonts.googleapis.com/css2?family=Hind:wght@300;400;500;600;700&display=swap');
@import url(../font/rubik/stylesheet.css);
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
.header{
    position: absolute;
    width: 100%;
}

.navigator{
    position: absolute;
    width: 100%;
    padding: 30px 0;
    top: 0;
    z-index: 999;
    transition: 0.2s linear;
}
.navigator{
    max-width: 1440px;
    margin-left: 46px;
    margin-right: 46px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navigator .nav_contact{
    background: #090F3F;
    border-radius: 28px;
    font-family: Hind, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #FFFFFF;
    outline: none;
    border: none;
    cursor: pointer;
    height: 34px;
    width: 118px;
    margin-right: 55px;
    justify-content: center;
}
.logo{
    width: 180px;
    height: 62px;
    background: url("../img/header/image 4.svg ") center/cover no-repeat;
}
.nav-menu a{
    font-family: 'Hind', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    margin-right: 50px;
    text-decoration: none;
    text-transform: uppercase;
    color: #FFFFFF;
}
.nav-menu a:hover{
    color: #48dbfb;
}
.nav-menu a:nth-child(1){
    margin: 0;
}

.home{
    background: url("../img/home/MaskGroup.png") center/cover no-repeat;
    height: 750px;
}
.home .container{
    display: flex;
    align-items: center;
    position: relative;
    flex-direction: column;
    justify-content: center;
    top: 90px;
}
.home .home_title{
    position: absolute;
    font-family: Rubik, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 75px;
    line-height: 120%;
    display: flex;
    align-items: center;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #FFFFFF;
    padding-top: 290px;
}
.home .border1{
    position: absolute;
    width: 94px;
    height: 5px;
    text-align: center;
    top: 200px;
    align-items: center;
    background: #CF1257;
}
.home .home_subtitle{
    position: absolute;
    font-family: Hind, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    color: #FFFFFF;
    width: 355px;
    padding-top: 539px;
    text-align: center;
}
.network{
    /*position: relative;*/
}
.network .container{
    align-items: center;
    display: flex;
}
.network .container1{
    margin-bottom: 215px;
    padding-right: 47px;
}
.network .container2{
    margin-bottom: 200px;
}
.network .network_title{
    font-family: Rubik, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 120%;
    display: flex;
    align-items: center;
    letter-spacing: 0.02em;
    color: #090F3F;
    margin-bottom: 20px;
}
.network .border2{
    position: absolute;
    width: 94px;
    height: 5px;
    text-align: center;
    align-items: center;
    background: #CF1257;
    margin-bottom: 30px;

}
.network .welcome{
    font-family: Hind, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #0B060C;
    display: flex;
    justify-content: space-between;
    padding-left: 115px;
}
.network .network_subtitle{
    width: 556px;
    height: 297px;
    font-family: Hind, sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 150%;
    display: flex;
    align-items: center;
    letter-spacing: 0.02em;
    color: #4F4F4F;
}
.charts{
    position: relative;
    margin-bottom: 160px;
}
.charts .border2{
    position: absolute;
    content: '';
    width: 94px;
    height: 5px;
    /*top: 10px;*/
    background: #CF1257;

}
.charts .welcome{
    position: absolute;
    font-family: Hind, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #0B060C;
    display: flex;
    padding-left: 115px;

}
.charts .charts_title{
    font-family: Rubik, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 120%;
    display: flex;
    align-items: center;
    letter-spacing: 0.02em;
    color: #090F3F;
    padding-top: 31px;
    padding-bottom: 50px;
}
.charts .container1{
    display: flex;
    padding-bottom: 26px;
}
.charts .chart_text{
    font-family: Hind, sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 150%;
    display: flex;
    align-items: center;
    letter-spacing: 0.02em;
    color: #4F4F4F;

}
.charts .charts_price{
    font-family: Rubik, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 120%;
    display: flex;
    align-items: center;
    letter-spacing: 0.02em;
    color: #CF1257;
    padding-left: 51px;
}
.charts .container2{
    position: relative;
    display: flex;
    padding-bottom: 23px;
}
.charts .container3{
    display: flex;
}
.charts .container4{
    flex-wrap: nowrap;
}
.charts .container5{
    flex-wrap: nowrap;
    padding-left: 20px;
}
.charts .chars_number{
    position: relative;
    font-family: Hind, sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #4F4F4F;
}
.charts .line{
    position: relative;
    border: 1px solid #C4C4C4;
    width: 515px;
    height: 1px;
    margin-left: 15px;
    margin-top: 7px;
    background: #C4C4C4;
}
.charts .container2:nth-child(8){
    padding: 0;
}
.charts .chart_text2{
    font-family: Hind, sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 150%;
    display: flex;
    align-items: center;
    letter-spacing: 0.02em;
    color: #4F4F4F;
    padding-left: 276px;
}
.charts .charts_price2{
    font-family: Rubik, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 120%;
    display: flex;
    align-items: center;
    letter-spacing: 0.02em;
    color: #CF1257;
    padding-left: 51px;
}
.charts .border{
    position: absolute;
    border: 1px solid #489DD7;
    transform: rotate(-49.47deg);
    width: 163px;
    height: 1px;
    background: #489DD7;
    margin-bottom: 30px;
}
.charts .line1{
    position: relative;
    border: 1px solid #C4C4C4;
    width: 515px;
    height: 1px;
    margin-left: 15px;
    margin-top: 7px;
    background: #C4C4C4;
}
.charts .line1:before{
    content: ' ';
    position: absolute;
    transform: rotate(-49.47deg);
    border: 1px solid #489DD7;
    width: 163px;
    height: 1px;
    background: #489DD7;
    margin-top: 22px;
    z-index: 1;
}
.charts .line2{
    position: relative;
    border: 1px solid #C4C4C4;
    width: 515px;
    height: 1px;
    margin-left: 15px;
    margin-top: 7px;
    background: #C4C4C4;
}
.charts .line2:before{
    content: ' ';
    position: absolute;
    border: 1px solid #489DD7;
    transform: rotate(-21.33deg);
    background: #489DD7;
    z-index: 1;
    width: 112px;
    height: 1px;
    margin-top: 21px;
    margin-left: 131px;
}
.charts .line2:after{
    content: ' ';
    position: absolute;
    border: 3px solid #489DD7;
    background: #489DD7;
    border-radius: 3px;
    width: 3px;
    height: 3px;
    margin-left: 236px;
}
.charts .line3{
    position: relative;
    border: 1px solid #C4C4C4;
    width: 515px;
    height: 1px;
    margin-left: 15px;
    margin-top: 7px;
    background: #C4C4C4;
}
.charts .line3:before{
    content: ' ';
    position: absolute;
    border: 1px solid #489DD7;
    transform: rotate(-38.52deg);
    background: #489DD7;
    z-index: 1;
    width: 137px;
    height: 1px;
    margin-top: 41px;
    margin-left: 328px;
}
.charts .line3:after{
    content: ' ';
    position: absolute;
    border: 1px solid #489DD7;
    transform: rotate(21.52deg);
    background: #489DD7;
    z-index: 1;
    width: 111px;
    height: 1px;
    margin-left: 235px;
    margin-top: 61px;
}
.charts .line4{
    position: relative;
    border: 1px solid #C4C4C4;
    width: 515px;
    height: 1px;
    margin-left: 15px;
    margin-top: 7px;
    background: #C4C4C4;
}
.charts .line4:before{
    content: ' ';
    position: absolute;
    border: 3px solid #489DD7;
    background: #489DD7;
    border-radius: 3px;
    width: 3px;
    height: 3px;
    margin-left: 27px;
}
.charts .line5{
    position: relative;
    border: 1px solid #C4C4C4;
    width: 515px;
    height: 1px;
    margin-left: 15px;
    margin-top: 7px;
    background: #C4C4C4;
}
.charts .line5:before{
    content: ' ';
    position: absolute;
    border: 3px solid #489DD7;
    background: #489DD7;
    border-radius: 3px;
    width: 3px;
    height: 3px;
    margin-left: 131px;
    justify-content: center;
}
.charts .line5:after{
    content: ' ';
    position: absolute;
    border: 3px solid #489DD7;
    background: #489DD7;
    border-radius: 3px;
    width: 3px;
    height: 3px;
    margin-left: 340px;
}
.charts .line6{
    position: relative;
    border: 1px solid #C4C4C4;
    width: 515px;
    height: 1px;
    margin-left: 15px;
    margin-top: 7px;
    background: #C4C4C4;
}
.charts .line6:before{
    content: ' ';
    position: absolute;
    border: 3px solid #489DD7;
    background: #489DD7;
    border-radius: 3px;
    width: 3px;
    height: 3px;
    margin-left: 447px;
    margin-top: 37px;
    z-index: 1;
}
.charts .container6{
    display: flex;
}
.charts .charts_num{
    font-family: Hind, sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 150%;
    display: flex;
    align-items: center;
    letter-spacing: 0.02em;
    color: #4F4F4F;
    padding-left: 70px;
}
.stats{
    position: relative;
    margin-bottom: 150px;
}
.stats .border3{
    position: absolute;
    content: '';
    width: 94px;
    height: 5px;
    top: 10px;
    background: #CF1257;

}
.stats .border4{
    position: absolute;
    content: '';
    width: 94px;
    height: 5px;
    top: 10px;
    background: #CF1257;
    margin-left: 575px;
}
.stats .welcome{
    position: absolute;
    font-family: Hind, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #0B060C;
    display: flex;
    padding-left: 135px;

}
.stats .welcome1{
    position: absolute;
    font-family: Hind, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #0B060C;
    display: flex;
    padding-left: 690px;

}
.stats .stats_title{
    font-family: Rubik, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 120%;
    display: flex;
    align-items: center;
    letter-spacing: 0.02em;
    color: #090F3F;
    padding-top: 31px;
    padding-bottom: 50px;
    width: 550px;
}
.stats .stats_title2{
    font-family: Rubik, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 120%;
    display: flex;
    align-items: center;
    letter-spacing: 0.02em;
    color: #090F3F;
    padding-top: 31px;
    padding-bottom: 50px;
    padding-left: 20px;
}
.stats .container7{
    display: flex;
}
.stats .container1{
    display: flex;
    padding-bottom: 26px;
}
.stats .stats_text{
    font-family: Hind, sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 150%;
    display: flex;
    align-items: center;
    letter-spacing: 0.02em;
    color: #4F4F4F;

}
.stats .stats_price{
    font-family: Rubik, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 120%;
    display: flex;
    align-items: center;
    letter-spacing: 0.02em;
    color: #CF1257;
    padding-left: 51px;
}
.stats .container2{
    position: relative;
    display: flex;
    padding-bottom: 23px;
}
.stats .container3{
    display: flex;
}
.stats .container4{
    flex-wrap: nowrap;
}
.stats .container5{
    display: flex;

    padding-left: 20px;
}
.stats .stats_number{
    position: relative;
    font-family: Hind, sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #4F4F4F;
}
.stats .line{
    position: relative;
    border: 1px solid #C4C4C4;
    width: 515px;
    height: 1px;
    margin-left: 15px;
    margin-top: 7px;
    background: #C4C4C4;
}
.stats .container2:nth-child(8){
    padding: 0;
}
.stats .border{
    position: absolute;
    border: 1px solid #489DD7;
    transform: rotate(-49.47deg);
    width: 163px;
    height: 1px;
    background: #489DD7;
    margin-bottom: 30px;
}
.stats .line1{
    position: relative;
    border: 1px solid #C4C4C4;
    width: 515px;
    height: 1px;
    margin-left: 15px;
    margin-top: 7px;
    background: #C4C4C4;
}
.stats .line1:before{
    content: ' ';
    position: absolute;
    transform: rotate(-49.47deg);
    border: 1px solid #489DD7;
    width: 163px;
    height: 1px;
    background: #489DD7;
    margin-top: 22px;
    z-index: 1;
}
.stats .line2{
    position: relative;
    border: 1px solid #C4C4C4;
    width: 515px;
    height: 1px;
    margin-left: 15px;
    margin-top: 7px;
    background: #C4C4C4;
}
.stats .line2:before{
    content: ' ';
    position: absolute;
    border: 1px solid #489DD7;
    transform: rotate(-21.33deg);
    background: #489DD7;
    z-index: 1;
    width: 112px;
    height: 1px;
    margin-top: 21px;
    margin-left: 131px;
}
.stats .line2:after{
    content: ' ';
    position: absolute;
    border: 3px solid #489DD7;
    background: #489DD7;
    border-radius: 3px;
    width: 3px;
    height: 3px;
    margin-left: 236px;
}
.stats .line3{
    position: relative;
    border: 1px solid #C4C4C4;
    width: 515px;
    height: 1px;
    margin-left: 15px;
    margin-top: 7px;
    background: #C4C4C4;
}
.stats .line3:before{
    content: ' ';
    position: absolute;
    border: 1px solid #489DD7;
    transform: rotate(-38.52deg);
    background: #489DD7;
    z-index: 1;
    width: 137px;
    height: 1px;
    margin-top: 41px;
    margin-left: 328px;
}
.stats .line3:after{
    content: ' ';
    position: absolute;
    border: 1px solid #489DD7;
    transform: rotate(21.52deg);
    background: #489DD7;
    z-index: 1;
    width: 111px;
    height: 1px;
    margin-left: 235px;
    margin-top: 61px;
}
.stats .line4{
    position: relative;
    border: 1px solid #C4C4C4;
    width: 515px;
    height: 1px;
    margin-left: 15px;
    margin-top: 7px;
    background: #C4C4C4;
}
.stats .line4:before{
    content: ' ';
    position: absolute;
    border: 3px solid #489DD7;
    background: #489DD7;
    border-radius: 3px;
    width: 3px;
    height: 3px;
    margin-left: 27px;
}
.stats .line5{
    position: relative;
    border: 1px solid #C4C4C4;
    width: 515px;
    height: 1px;
    margin-left: 15px;
    margin-top: 7px;
    background: #C4C4C4;
}
.stats .line5:before{
    content: ' ';
    position: absolute;
    border: 3px solid #489DD7;
    background: #489DD7;
    border-radius: 3px;
    width: 3px;
    height: 3px;
    margin-left: 131px;
    justify-content: center;
}
.stats .line5:after{
    content: ' ';
    position: absolute;
    border: 3px solid #489DD7;
    background: #489DD7;
    border-radius: 3px;
    width: 3px;
    height: 3px;
    margin-left: 340px;
}
.stats .line6{
    position: relative;
    border: 1px solid #C4C4C4;
    width: 515px;
    height: 1px;
    margin-left: 15px;
    margin-top: 7px;
    background: #C4C4C4;
}
.stats .line6:before{
    content: ' ';
    position: absolute;
    border: 3px solid #489DD7;
    background: #489DD7;
    border-radius: 3px;
    width: 3px;
    height: 3px;
    margin-left: 447px;
    margin-top: 37px;
    z-index: 1;
}
.stats .container6{
    display: flex;
}
.stats .stats_num{
    font-family: Hind, sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 150%;
    display: flex;
    align-items: center;
    letter-spacing: 0.02em;
    color: #4F4F4F;
    padding-left: 70px;
}
.stats .container8{
    /*position: relative;*/
    /*flex-wrap: nowrap;*/
    margin-top: 90px;
    padding-left: 20px;
}
.stats .block1{
    position: absolute;
    width: 20px;
    height: 20px;
    background: #090F3F;
    display: flex;
}
.stats .block_text{
    font-family: Hind, sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 150%;
    display: flex;
    align-items: center;
    letter-spacing: 0.02em;
    color: #4F4F4F;
    padding-left: 30px;
}
.stats .block_num{
    font-family: Hind, sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 150%;
    display: flex;
    align-items: center;
    letter-spacing: 0.02em;
    color: #4F4F4F;
    padding-left: 133px;
}
.stats .block2{
    position: absolute;
    width: 20px;
    height: 20px;
    background: #489DD7;
    display: flex;
    margin-top: 47px;
}
.stats .block_text2{
    font-family: Hind, sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 150%;
    display: flex;
    align-items: center;
    letter-spacing: 0.02em;
    color: #4F4F4F;
    padding-left: 30px;
}
.stats .block_num2{
    font-family: Hind, sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 150%;
    display: flex;
    align-items: center;
    letter-spacing: 0.02em;
    color: #4F4F4F;
    padding-left: 133px;
}
.stats .block3{
    position: absolute;
    width: 20px;
    height: 20px;
    background: #F8BA1A;
    display: flex;
    margin-top: 94px;

}
.stats .block_text3{
    font-family: Hind, sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 150%;
    display: flex;
    align-items: center;
    letter-spacing: 0.02em;
    color: #4F4F4F;
    padding-left: 30px;
}
.stats .block_num3{
    font-family: Hind, sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 150%;
    display: flex;
    align-items: center;
    letter-spacing: 0.02em;
    color: #4F4F4F;
    padding-left: 133px;
}
.stats .block4{
    position: absolute;
    width: 20px;
    height: 20px;
    background: #CF1257;
    display: flex;
    margin-top: 141px;

}
.stats .block_text4{
    font-family: Hind, sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 150%;
    display: flex;
    align-items: center;
    letter-spacing: 0.02em;
    color: #4F4F4F;
    padding-left: 30px;
}
.stats .block_num4{
    font-family: Hind, sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 150%;
    display: flex;
    align-items: center;
    letter-spacing: 0.02em;
    color: #4F4F4F;
    padding-left: 133px;
}
.blockchain{
    position: relative;
}
.blockchain .border5{
    position: absolute;
    content: '';
    width: 94px;
    height: 5px;
    top: 10px;
    background: #CF1257;
    margin-left: 410px;
}
.blockchain .welcome{
    position: absolute;
    font-family: Hind, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #0B060C;
    display: flex;
    justify-content: space-between;
    padding-left: 115px;
    margin-bottom: 40px;
    margin-left: 410px;
}
.blockchain .blockchain_title{
    font-family: Rubik, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 120%;
    display: flex;
    align-items: center;
    letter-spacing: 0.02em;
    color: #090F3F;
    margin-left: 270px;
    padding-top: 40px;
    text-align: center;
    width: 570px;
    justify-content: center;
    padding-bottom: 70px;
}
.blockchain .blockchain_block{
    width: 1120px;
    height: 54px;
    background: #090F3F;
    border-radius: 10px 10px 0 0;
    display: flex;
    margin-bottom: 20px;
}
.blockchain .blockchain_titles{
    font-family: Hind, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 150%;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #FFFFFF;
    padding-left: 145px;
}
.blockchain .blockchain_titles:nth-child(1){
    padding: 15px;
}
.blockchain .container1{
    flex-wrap: nowrap;
}
.blockchain .blockchain_info{
    display: flex;
    font-family: Hind, sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 150%;
    align-items: center;
    text-align: center;
    letter-spacing: 0.02em;
    color: #4F4F4F;
    padding-bottom: 20px;
}
.blockchain .num1{
    padding-left: 15px;
}
.blockchain .num2{
    padding-left: 98px;
}
.blockchain .num3{
    padding-left: 184px;
}
.blockchain .num4{
    padding-left: 205px;
}
.blockchain .num5{
    padding-left: 109px;
}
.form{
    background: url("../img/form/Mask Group (3).png") center/cover no-repeat;
    height: 848px;
    /*position: relative;*/
}
.form .container{
    position: relative;
    /*justify-content: center;*/
    width: 570px;
}
.form .form_title{
    font-family: Rubik, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 120%;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    margin-top: 262px;
    position: absolute;
}
.form .border10{
    position: absolute;
    content: '';
    width: 94px;
    height: 5px;
    top: 400px;
    background: #CF1257;
    justify-content: center;
    text-align: center;
    transform: translate(216%);
}
.form .test{
    display: flex;
    justify-content: center;
    align-content: center;
    padding-top: 453px;
    margin-right: 40px;
}
.form .test .input{
    padding: 15px 35px;
    border: 1px solid #F2F2F2;
    box-sizing: border-box;
    background: #FFFFFF;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    width: 510px;
    height: 60px;
    position: relative;
    font-family: Hind, sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 150%;
    display: flex;
    align-items: center;
    letter-spacing: 0.02em;
    outline: none;
}
.form .test .button{
    text-decoration: none;
    background: #F8BA1A;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
    border-radius: 28px;
    position: absolute;
    width: 150px;
    height: 46px;
    font-family: Hind, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 150%;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #000000;
    margin-left: 95px;
    margin-top: 7px;
    justify-content: center;
    outline: none;
}
.form .button_a{
    position: absolute;

}
.form .form_block1{
    position: absolute;
    width: 60px;
    height: 60px;
    background: #0B060C;
    opacity: 0.5;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    margin-top: 655px;
}
.form .form_block1:hover{
    background: #5fa5f9;
    transition: 0.9s;
    color: #fff;
    transform: rotateY(360deg);
    opacity: 10;
    /*transition: 0.5s;*/

}
.form .form_block2{
    position: absolute;
    width: 60px;
    height: 60px;
    background: #0B060C;
    opacity: 0.5;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    margin-top: 655px;
    margin-left: 110px;
}
.form .form_block2:hover{
    background: #1e55d2;
    transition: 0.9s;
    color: #fff;
    transform: rotateY(360deg);
    opacity: 10;
}
.form .form_block3{
    position: absolute;
    width: 60px;
    height: 60px;
    background: #0B060C;
    opacity: 0.5;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    margin-top: 655px;
    margin-left: 220px;
}
.form .form_block3:hover{
    background: #e02824;
    transition: 0.9s;
    color: #fff;
    transform: rotateY(360deg);
    opacity: 10;
}
.form .form_block4{
    position: absolute;
    width: 60px;
    height: 60px;
    background: #0B060C;
    opacity: 0.5;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    margin-top: 655px;
    margin-left: 330px;
}
.form .form_block4:hover{
    background: #6d9eff;
    transition: 0.9s;
    color: #fff;
    transform: rotateY(360deg);
    opacity: 10;
}
.form .form_block5{
    position: absolute;
    width: 60px;
    height: 60px;
    background: #0B060C;
    opacity: 0.5;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    margin-top: 655px;
    margin-left: 440px;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
}
.form .form_block5:hover{
    background: #bf1331;
    transition: 0.9s;
    color: #fff;
    transform: rotateY(360deg);
    opacity: 10;
}
.form .icons{
    z-index: 2;
    padding-top: 15px;
    padding-left: 15px;
}

.form .icons2{

    z-index: 2;
    padding-top: 15px;
    padding-left: 22px;
}
.form .icons3{
    z-index: 12;
    padding-top: 19px;
    padding-left: 15px;
    color: white;
}
.form .icons4{
    z-index: 2;
    padding-top: 15px;
    padding-left: 18px;
}
.form .form_text{
    font-family: Hind, sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 150%;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    opacity: 0.7;
    justify-content: center;
    top:  790px;
    position: absolute;
    margin-left: 71px;
}

.up_arrow{
    position: fixed;
    bottom: 50px;
    right: 50px;
    width: 70px;
    height: 70px;
    cursor: pointer;
    display: none;
    z-index: 199;
}
.up_arrow:before{
    position: absolute;
    content: '';
    width: 24px;
    height: 2px;
    background: #ffffff;
    top: 31px;
    left: 17px;
    transform: rotate(-45deg);
    align-items: center;
}
.up_arrow:after{
    content: '';
    position: absolute;
    width: 24px;
    height: 2px;
    background: #ffffff;
    top: 31px;
    right: 14px;
    transform: rotate(45deg);
}

.up_arrow .up-arrow__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 199;
}

